# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
!examples/NGCrover/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/

# Results
results/
!examples/NGCrover/results/