# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.ipynb_checkpoints/

# Results
results/
examples/**/build/
*.txt

.agents 
.codex